
<div class="Resume">
  <div class="WorkExperience">
    <div class="Experience" *ngFor="let job of jobs">
      <div class="Header primary-backgroundColor">
        <div class="titleEmployer">
          <div class="JobTitle secondary-color">{{ job.title }}</div>
          <div class="Employer">{{ job.company }}</div>
        </div>

        <div class="Dates secondary-color">
          {{ job.startDate }} -
          {{ job.endDate }}
        </div>
      </div>

      <div class="responsibilities">
        <div [class]="[hasFilter(duty)?'primary-backgroundColorLight':'none','responsibility']" *ngFor="let duty of job.duties">
          <div class="description">{{duty.responsibility}}</div>
          <div class="skills">
            <div [class]="[isFiltered(skill)? 'secondary-backgroundColor':'primary-backgroundColor','skill']" *ngFor="let skill of duty.skills" (click)="addFilter(skill)">
              {{skill}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Education"></div>
  <div class="Skills"></div>
</div>
